@{
    ViewData["Title"] = "Home Page";
}

<div class="container page" id="pageContainer">
    <div class="jumbotron text-center">
        <h1>David F. Bachor</h1>
        <!--
                    <a href="resume/index.html" class="btn btn-default">Resume</a>
                    <a href="musician/index.html" class="btn btn-default">Musician</a>
                    <a href="applicationshell/index.php" class="btn btn-default">Application Shell</a>
        -->
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-4">
            <a href="Resume/Index" class="thumbnail">
                <img src="~/img/myresume.jpg" alt="David Bachor Resume Page">
            </a>
            <h4>Information Systems Technologist</h4>
            <p>Technically sophisticated and business-savvy technology professional with several years experience in positions of increasing responsibilities in software development and technology project management. </p>
        </div>

        <div class="col-sm-4">
            <a href="http://www.github.com/dfbachor" class="thumbnail">
                <img src="~/img/github.png" alt="David Bachor Github page">
            </a>
            <h4>Github</h4>
            <p>Please visit my GitHub page for code samples. </p>
        </div>

        <div class="col-sm-4">
            <a href="Musician/Index" class="thumbnail">
                <img src="~/img/musicnotesfromhole.jpg" alt="David Bachor Musician Page">
            </a>
            <h4>Musician</h4>
            <p>Classically trained guitarist with interst in several genres including jazz, blues, folk and classic rock. Studied classical guitar at West Chester University with Glenn Lyons and jazz guitar with E. Shawn Qaissaunee from Wilmington DE.</p>
        </div>


    </div> <!-- end row -->

        
</div>	<!-- end container page-->
