
@{
    ViewData["Title"] = "Resume";
}


@*<meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of David Bachor." />
    <meta charset="UTF-8">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>*@

@section styles{
    <link rel="Stylesheet" href="@Href("~/css/style.css")" />
}

<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="~/img/computerdesk.jpg" alt="dfb" />
        </div>

        <div id="name">
            <h1 class="quickFade delayTwo">David F. Bachor</h1>
            <h2 class="quickFade delayThree">Software Developer</h2>
            <h4 class="quickFade delayThree">Technical & Management Expertise in Software Development</h4>

        </div>

        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li>e: <a href="mailto:davidfbachor@gmail.com" target="_blank">davidfbachor@gmail.com</a></li>
                <li>w: <a href="http://www.dbachor.com">www.dbachor.com</a></li>
                <li>m: 610.761.7450</li>
            </ul>

            <!-- <p><a data-toggle="modal" href="#form-content" class="btn btn-primary btn-large">Contact</a></p> -->
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>

                <div class="sectionContent">
                    <!-- 					<h1 style="text-align: center">Full Stack Web Developer</h1> -->
                    <p>Software Developer with extensive experience within most aspects of software development in various capacities including developer, engineer and management. Ability to adjust to new platforms, environments, toolsets and frameworks while learning the business needs and priorities. Currently focused on mobile and web application development technologies.</p>
                    <!--
                                        <p style="text-align: center; font-weight: bold;">Software Development / Web Development / Mobile Development / Object Oriented Programming, Design and Development  / Application & Relational Database Design & Development / Team Leadership, Coaching & Team Building  / Project Management & Oversight / Strategic Planning / Staff Management & Resource Allocation / Vendor Management / Budget Management / Software Development Life Cycle (SDLC) / Agile / UNIX / LINUX / Mac IOS
                                        </p>
                    -->
                </div>
            </article>
            <div class="clear"></div>
        </section>

        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>FULL STACK DEVELOPER, biBerk Business Insurance (A Berkshire Hathaway Company)  Wilkes-Barre, PA</h2>
                    <p class="subDetails">July 2018 – Present</p>
                    <p>Web Development / Programming using <span class='bold'>ASP.NET, MVC, C#, REST, Transact-SQL, SSMS, Azure, Devops, Angular, Cosmos, Salesforce Integration, Agile</span></p>
                    <p>Focused on developing in the Microsoft Azure environment specifically developing Web Services to interface with Salesforce and various in-house SQL databases using Visual Studio and VSCode.
                    <p>Develop and maintain proprietary ASP.NET MVC applications to support the commercial insurance business.</p>

                </article>
                <article>
                    <h2>COMPUTER SCIENCE PROFESSOR, Northampton Community College, Bethlehem, PA</h2>
                    <p class="subDetails">August 2015 – July 2018</p>
                    <p>Focused on all aspects of teaching software development, specifically web and application development utilizing tools and technologies such as <span class="bold">C/C++, Java, OOP, HTML5, CSS, Bootstrap, JavaScript/JQuery, AJAX,  PHP, Laravel, REST, MVC, MySQL, Apache, Visual Studio, VSCode, xcode, Windows, Mac OS and iOS Swift.</span></p>
                    <p>Organized and coached a team of students through preparation and participation in the 2017 ACM International Collegiate Programming Contest.</p>
                    <p>Started a programing club for students that focuses on various programming activities including competitions, hack-a-thons and small projects.</p>
                    <p>Skilled mentor with success meeting needs of diverse students. Inspire and direct students in reaching high educational standards. Managed approximated 100-120 students per semester.</p>

                </article>
                <article>
                    <h2>VP - SENIOR SERVICE DELIVERY CONSULTANT, MBNA/Bank of America, Newark, DE</h2>
                    <p class="subDetails">November 1996 – April 2014</p>
                    <p>Various technical and management positions in the Information Systems Sector focused on all aspects of software development and technical delivery including systems design, software development, implementation, project management, team management, architecture direction, budgeting, recruiting and mentoring. Developed processes and procedures for large departments to streamline project management oversight enabling increased focus on project delivery to meet the objectives of the business.</p>

                </article>


                <h2 class="pbullets">Selected Management Accomplishments</h2>


                <p class="pbullets">Developed automated processes and procedures to manage and track departmental financials. Provided direct oversight for project budgets, vendor engagement, software licensing and maintenance costs for a team of 160+ resources delivering over 200 projects totaling over $20 million annually.  Utilized <span class="bold"></span>.</p>

                <p class="pbullets">Managed the disaster recovery project for the Universal Decision Engine suite of applications enabling the department to switch between platforms at will to support installations or production issues.</p>

                <p class="pbullets">Managed teams of up to 25 resources of various disciplines including project managers, software engineers, architects, release managers and production support managers.  Experience includes recruiting, outsourcing, mentoring, production support, vendor management, appraising performance and establishing/managing budgets.</p>

                <p class="pbullets">Managed from planning through completion, a $2 million deployment of the banks credit acquisition suite of applications to MBNA Canada.  Delivered on time and within budget.</p>

                <p class="pbullets">Managed teams working with: <span class="bold">AIX, UNIX, Windows, Informix, Sybase, Oracle, DB2, MS Access, C/C++, TUXEDO, Visual Basic, PowerBuilder, UNIX Scripting, Java/J2ee, Web Services, WebSphere Application Server, WebSphere MQ, Shared Services.</span></p>


                <h2 class="pbullets">Selected Technical Accomplishments</h2>

                <p class="pbullets">Designed, developed and implemented a Web based project management status tracking and reporting system.  Recognized by senior management and adopted for the broader department needs including 15 additional teams supporting over 150 users, 20 administrators and supported over 1,000 projects. Utilized <span class="bold">Apache, Java, HTML, Oracle, ODBC, MS Access, Excel/VBA Macros</span></p>

                <p class="pbullets">Technical Lead for the front-end of the MIDAS project. This was an Online Data Entry application using <span class="bold">Java, C/C++, UNIX, TUXEDO and SYBASE</span>. Re-used many services developed with previous projects.</p>

                <p class="pbullets">Technical Lead on a project to replace the banks VISION system.  This project facilitated the outsourcing of all credit card data entry to off-shore partners. The system was designed to electronically import all scanned images and data files into the banks Decision System. Technologies included: <span class="bold">TUXEDO, C/C++, Windows NT Services, UNIX, Perl, KixStart, SYBASE.</span> Architected the total retirement of the VISION system</p>

                <p class="pbullets">Technical Lead for the ACH project designated to implement new functionality to process direct deposit cash balance transfers into a customers bank account. <span class="bold">Visual Basic, C/C++ Unix, Windows Wervices</span>.</p>

                <p class="pbullets">Maintenance developer to work on the banks Windows NT based VISION system, a transactional system designated to support the Credit Acquisition department.  The systems entailed, Scanning of all Credit Card Applications, storing, workflow routing, data entry, transferring to the banks Decision System, retention, archive and deletion. Supported several projects to address defects and implement new enhancement and efficiencies. <span class="bold">Visual Basic, C/C++, Unix, Windows</span>.</p>





                <article>
                    <h2>SENIOR SYSTEMS ANALYST/DEVELOPER, PC Scale Technologies, Oxford, PA</h2>
                    <p class="subDetails">May 1993 - November 1996</p>
                    <p>Responsible for the design, development and the deployment of over 50 stand alone database applications and 20 small-networked solutions for the weighing industry. Tools: <span class="bold">Object Oriented Dataflex, C/C++, MS Access, Visual Basic. DOS Scripting.</span></p>
                    <p>Developed low level / terminate and stay resident (TSR) programs, custom screen savers and interrupt service routines (ISR) for print messages for older DOS based PC's. <strong>C/C++</strong></p>
                    <p>Interfaced personal computers with electronic scale indicators and electronic traffic gate controllers via RS232 Serial Communication and Radio Frequency.</p>
                    <p>Customer/Client relationship management.</p>
                </article>

                <article>
                    <h2>COMPUTER OPERATOR, Philadelphia Stock Exchange, Philadelphia, PA </h2>
                    <p class="subDetails">May 1992 - May 1993</p>
                    <p>Responsible for all day-end business processing jobs, weekly backup routines, system upgrades, software installations and periodic testing support for software updates. Utilized <span class="bold">Stratus, UNIX, VOX, HP.</span></p>
                    <p>Responsible for all cabling and screen installation for the exchange’s trading floor’s ticker system.</p>
                </article>

                <article>
                    <h2>COMPUTER OPERATOR, Delaware County Community College, Media, PA </h2>
                    <p class="subDetails">September 1991 - May 1992</p>
                    <p>Execute mainframe jobs, perform backup routines, and provide programming guidance and support to students working in the lab with <span class="bold">COLBOL, C, BASIC and Assembler</span>.</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>


        <!--
                <section>
                    <div class="sectionTitle">
                        <h1>Key Skills</h1>
                    </div>

                    <div class="sectionContent">
                        <ul class="keySkills">
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>PHP</li>
                            <li>CSS</li>
                            <li>MySQL</li>
                            <li>Apache</li>
                            <li>Microsoft Office Suite</li>
                            <li>VBA Programming</li>
                            <li>Object Oriented Design and Programming</li>
                            <li>UNIX</li>
                            <li>Linux</li>
                            <li>Visual C++</li>
                            <li>Visual Basic</li>
                            <li>Windows</li>
                            <li>Objective-C</li>
                            <li>Mac/IOS</li>
                            <li>TUXEDO</li>
                            <li>SYBASE - Transact SQL</li>
                            <li>Oracle</li>
                            <li>Dataflex</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>
        -->


        <section>
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>Masters in Business Administration / Information Technology</h2>
                    <p class="subDetails">Goldey-Beacom College, Wilmington, DE</p>
                </article>

                <article>
                    <h2>Bachelor’s Degree in Computer Information Systems </h2>
                    <p class="subDetails">Widener University, Chester, PA</p>
                </article>

                <article>
                    <h2>Associates Degree in Liberal Arts </h2>
                    <p class="subDetails">Delaware County Community College, Media, PA</p>
                </article>

                <article>
                    <h2>Self Study</h2>
                    <p class="subDetails">ongoing</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>

<!--
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
</script>
-->
